<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=/css/MemberList.css>
</head>
<body>
<div class="container">
    <div>
        <table>
            <thead>
                <tr>
                    <th>닉네임</th>
                    <th>이름</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="member : ${members}">
                    <td style="width: 30%;" th:text="${member.getId()}"></td>
                    <td style="width: 30%;" th:text="${member.getName()}"></td>
                    <td style="text-align: center;">
                        <!-- pw의값을 가지는 텍스트박스 생성 -->
                        <ajaxtext>
                            <li class="navbar__item"
                                th:Attr="onclick = |
                                fetch('/MemberListtextbox?id=${member.getId()}').then(function(response){
                                response.text().then(function(text){
                                document.querySelector('ajaxtext').innerHTML = text;
                                })
                            })|">삭제하기</li>
                        </ajaxtext>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
<!-- 
<li class="navbar__item" onclick = "
                    fetch('tab5').then(function(response){
                    response.text().then(function(text){
                    document.querySelector('tab').innerHTML = text;
                    })
                })">tab5</li> -->